<strong>Tudo bom, {{ organizer }}?</strong>
<p>Você foi inscrito no meetup {{ meetup }}.</p>
<p>Segue os dados:</p>
<p>
  <strong>Nome: </strong> {{ user }} <br />
  <strong>E-mail: </strong> {{ email }} <br />
</p>
